html,
body {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    color: red;
    text-align: center;
}

#text-input {
    width: 280px;
    height: 150px;
    resize: none;
    border: 2px solid brown;
    border-radius: 5px;
}

#char-count {
    width: auto;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    padding: 10px;

}

.readonly-textarea {
    pointer-events: none;
    /* Prevents any mouse interactions */
    background-color: #f0f0f0;
    /* Light gray background to indicate it's disabled */
    color: #999;
    /* Text color to indicate it's not editable */
}